/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid #ccc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
}

.custom-radio:checked {
    border-color: #ff00ff; /* Border color when checked */
}

.custom-radio:checked::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #ff00ff; /* Inner circle color */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes bookmarkZoom {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(2);
        opacity: 1;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}
.animate-bookmark {
    animation: bookmarkZoom 1.5s forwards;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Adjust bounce height here */
    }
}

.bounce-arrow {
    position: absolute;
    transform: translateX(-50%);
    animation: bounce 1s ease-in-out infinite;
    z-index: 999; /* Ensure the arrow appears on top */
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.custom-backdrop .konsta-backdrop {
    background-color: rgba(196, 186, 186, 0.055); /* Adjust the transparency */
}

.tab-background {
    background: linear-gradient(45deg, #b39c63, #574c2f);
    position: relative;
    overflow: hidden;
    border-radius: 0.75rem; /* Tailwind's rounded-xl */
}

.tab-background::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    filter: blur(8px);
    transform: rotate(45deg);
    animation: shine 5s infinite;
}

.coinbeats-background {
    background: linear-gradient(45deg, #b39c63, #574c2f);
    overflow: hidden;
    border-radius: 0.75rem; /* Tailwind's rounded-xl */
}

.coinbeats-background::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    filter: blur(8px);
    transform: rotate(45deg);
    animation: shine 5s infinite;
}

.coinbeats-content {
    background: linear-gradient(to bottom right, #1c1c1d, #2d2d2f); /* Updated gradient */
    border-radius: 0.75rem;
    overflow: hidden;
}

.coinbeats-content::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    filter: blur(8px);
    transform: rotate(45deg);
    animation: shine 5s infinite;
}

.coinbeats-label {
    color: #fff;
    font-weight: bold;
}

@keyframes shine {
    0% {
        transform: translate(-100%, 100%) rotate(45deg);
    }
    100% {
        transform: translate(100%, -100%) rotate(45deg);
    }
}

.tab-content {
    background: linear-gradient(to bottom right, #1c1c1d, #2d2d2f); /* Updated gradient */
    border-radius: 0.75rem;
}

.tab-label {
    color: #fff;
    font-weight: bold;
}

@keyframes coin-spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.animate-coin-spin {
    animation: coin-spin 2s infinite linear;
}

@keyframes zoom-in-out {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.animate-zoom {
    animation: zoom-in-out 0.5s forwards;
}
