/* src/styles/spinner.css */

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Ensure it's above everything else */
}

.spinner {
    width: 6rem;
    height: 6rem;
}

.spinner svg {
    height: 100%;
    width: 100%;
    fill: white; /* White spinner */
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
